<div class="row">
	<div class="col-sm-10 col-xs-12">
		<div class="row blog" ng-repeat="blog in blogs">
			<div class="col-sm-3 col-xs-12">
				<img src="{{blog.img}}" alt="" class="img-responsive">
			</div>
			<div class="col-sm-9 col-xs-12">
				<h2>{{blog.title}}</h2>
				<ul class="list-unstyled list-inline blog-info">
                    <li><i class="fa fa-calendar"></i> {{blog.create_at}}</li>
                    <li><i class="fa fa-comments"></i> <a href="#">{{blog.comments.length}} Comments</a></li>
                    <li><i class="fa fa-tags"></i> {{blog.tags}}</li>
                </ul>
				<p><div ng-bind-html="blog.content"></div></p>
			</div>
		</div>
	</div>
	<div class="col-sm-2 hidden-xs">bbb</div>
</div>

